[Unit]
Description=HS Minecraft Auto Backup
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ezel/Game Server/HS_TestServer
Environment=INTERVAL_MINUTES=5
Environment=BACKUP_DIR=/home/ezel/Game Server/HS_TestServer/backups
ExecStart=/bin/bash /home/ezel/Game Server/HS_TestServer/scripts/auto_backup.sh
Restart=always

[Install]
WantedBy=multi-user.target
